@model ConsultaViewModel
@{
}

<h1>Consultar Base de Datos </h1>

<form method="get" class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input type="text" asp-for="Nombre" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div>
                    <label asp-for="Descripcion" class="form-label">Descripcion</label>
                    <input type="text" asp-for="Descripcion" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div>
                    <label asp-for="Metodo" class="form-label">Usar WS</label>
                    <input type="checkbox" asp-for="Metodo" />
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Consultar</button>
            </div>
        </div>
       
    </div>

</form>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    @if(Model != null)
    {
        @if (Model.Examenes != null)
        {
            <tbody>
                @foreach (var item in Model.Examenes)
                {
                    <tr>
                        <td>
                            @item.idExamen
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                    </tr>
                }
            </tbody>
        }
    }
</table>
